html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
   	min-height:100%;
	width:100%;
}
body{
    margin: 0 0 35px; /* bottom = footer height */
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
   	min-height:100%;
	width:100%;
}
header{
    display:flex;
    display: -webkit-box;
    align-items: flex-end;
    background-image: url('../images/rw10_243_medium.png'); 
    padding: 0;
    max-height: 250px;
    min-height: 60px;
    background-repeat:no-repeat;
    background-position: top center;
    background-size:100%;
    position: relative;
}
p {
    font-family: sans-serif;
    margin:7px;
}
h2{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    color:white;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: sans-serif;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer{
    color:gray;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index:2;
}
footer p{
    padding-top: 5px;
    font-size: 75%;
}
.btn:focus{
    outline:0;
}
.btn:hover{
    background-image:url('../images/myPlaylistButton_white.svg');
}
.btn-active{
    height: 60px;
    width: 60px;
    background-image:url('../images/myPlaylistButton_white.svg');
    background-repeat:no-repeat;
    background-size: 100%;
    border:none;
}
.btn-active:focus{
    outline:0;
}
#headerBottom{
    display: -webkit-box;
    display: flex;
    background-color: black;
    -webkit-flex-flow: row wrap;
    height:60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
#search{
    margin:0 auto;
    bottom:0;   
    display:block;
    width:55%;
    -webkit-transform: translateY(12.5%);
    -ms-transform: translateY(12.5%);
    transform: translateY(12.5%);
}
#search input {
    display: block;
    height:40px;
    width:100%;
    text-indent:45px;
    margin: 0 auto;
    background-image: url('../images/search_bg.svg');
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 50%;
/*    -webkit-transform: translateY(-125%);*/

}
#search input:focus{
    outline: 0;
}
#searchTrackInput{
    display: table-cell;
    width:100%;
    float:right;
}
.btn {
    height: 60px;
    width: 60px;
    background-image:url('../images/myPlaylistButton_grey.svg');
    background-repeat:no-repeat;
    background-size:100%;
    border:none;
}
#mainContainer{
/*    display: -webkit-box;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse; 
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
#resultContainer{
    -webkit-box-ordinal-group: 2;
    -webkit-order:2;
    order:2;    
    margin-left: 2%;
    margin-right:2%;
    margin-bottom: 35px; /* bottom = footer height */
    width:100%;
    background-color: black;
    float:right;
    color:white;
    min-height: 100%;
}
.tracks{
    display:table;
    width: 75%;
    table-layout: fixed;
}
.aTrack {
    display: table-row;
}
.aTrack a{
    display: table-cell;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis; 
}
.trackName {
    display: table-cell;
    font-family: sans-serif;
    width: 50%; /*length before truncation*/
    padding-left: 15px;   
}
.trackName a{
    text-decoration: none;
    color:white;
}
.resultTrackName {
    display: table-cell;
    font-family: sans-serif;
    padding-left: 5px;
    width: 100%; /*length before truncation*/
}
.artistName{
    display: table-cell;
    font-family: sans-serif;
    padding-left:15px;
    width: 50%;
}
.artistName a{
    display:block;
    text-decoration: none;
    color:white;
}
.resultArtistName{
    width: 100%;
    padding-left: 30px;
}

#myPlaylist{
    -webkit-box-ordinal-group: 1;
    -webkit-order: 1;
    order:1;
    width: 100%;
    -webkit-border-radius: 0 0 15px;
    -moz-border-radius: 0 0 15px;
    border-radius: 0 0 15px;
    box-shadow: 10px 10px 20px -10px rgba(0, 200, 0, 0.80);
    -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 200, 0, 0.80);
    background-color:black;
    z-index:1;
    float:top;
    margin-bottom: 35px; /* bottom = footer height */
}

a.add{
    display: table-cell;
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 2em;
    margin-left: 10%;
    color: green;
}
a.remove{
    display: table-cell;
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 2em;
    margin-left: 15px;
    color: red;
}
li {
    color: white;
    border-top: 2px solid #272727;
} 
.noBorder{
  border-top: 0px;  
}
.bold{
    font-weight: bold;
    color:white;
}
.artists a{
    color:white;
    text-decoration: none;
 }
 .artists a:hover{
    text-decoration: underline;
 }
 .goBack:before{
    color:white;
    text-decoration: none;
    content: "\25C0";
 }
.playlistTitle{
    font-size:75%;
}
.trackSort_sorted:after{
    content: "\25BC";  
    color: rgba(0,240,0,0.8);
 
}
.trackSort_sorted_reverse:after{
    content: "\25B2";  
    color: rgba(0,240,0,0.8);
}
.artistSort_sorted:after{
    content: "\25BC";   
    color: rgba(0,240,0,0.8);

}
.artistSort_sorted_reverse:after{
    content: "\25B2";  
    color: rgba(0,240,0,0.8);
}
.noSort:after{ 
    content: "\25BC\25B2";
    color: rgba(0,240,0,0.8);
}


@media screen and (min-width: 1024px){
    .btn{
        height: 100px;
        width: 100px;        
        background-size: 100%
    }
    .btn-active{
        height: 100px;
        width: 100px;
        background-image:url('../images/myPlaylistButton_white.svg');
        background-repeat:no-repeat;
        border:none;
        background-size: 100%;
    }
    #search input{
        width: 100%;
        height: 48px;
        text-indent:60px!important;
        top: 50%;
    }
    #search{
        margin: 0 auto;
        width:25%;
        -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
        transform: translateY(25%);
    }
    #headerBottom{
        height:100px;
    }
    header{
        padding-top:7%;
    }
    #myPlaylist{
        width: 35%;
    }
    .playlistTitle{
        font-size:100%;
    }
    .trackName{
        padding-left: 30px;
        width: 85%; 
    }
    .resultTrackName {
        padding-left: 30px;
        width: 85%; /*length before truncation*/
    }
    .artistName{
        padding-left: 35px;
    }
    #resultContainer{
        margin-left: auto;
        margin-right: auto;
        width: 64%;
    }
    a.remove{
        margin-left:30px;
    }
    .trackSort_sorted:after{
        content: "\25B4";  
        color: rgba(0,240,0,0.8);
    }
    .trackSort_sorted_reverse:after{
        content: "\25BE";  
        color: rgba(0,240,0,0.8);
    }
    .artistSort_sorted:after{
        content: "\25B4";   
        color: rgba(0,240,0,0.8);

    }
    .artistSort_sorted_reverse:after{
        content: "\25BE";  
        color: rgba(0,240,0,0.8);
    }
    .noSort:after{ 
        content: "\25B4\25BE";
        color: rgba(0,240,0,0.8);
    }
}
@media screen and (max-width: 1024px) and (min-width: 534px){
    .btn{
        width:75px;
        height:75px;
        background-size: 100%
    }
    .btn-active{
        height: 75px;
        width: 75px;
        background-image:url('../images/myPlaylistButton_white.svg');
        background-repeat:no-repeat;
        background-size: 100%;
        border:none;
    }
    #search input{
        height:40px;
        width:100%;
        text-indent:50px;
        top: 50%;
    }
    #search{
        margin: 0 auto;
        width:35%;
        -webkit-transform: translateY(25%);
        -ms-transform: translateY(25%);
        transform: translateY(25%);
    }
    #myPlaylist{
        width:45%;
    }
    .playlistTitle{
        font-size:100%;
    }
    #resultContainer{
        width:50%;
    }
    .resultTrackName {
        padding-left: 5px;
        width: 100%; /*length before truncation*/
    }
    #headerBottom{
        height:75px;
    }
    header{
        padding-top:7%;
    }
    .trackSort_sorted:after{
        content: "\25B4";  
    }
    .trackSort_sorted_reverse:after{
        content: "\25BE";  
    }
    .artistSort_sorted:after{
        content: "\25B4";   
    }
    .artistSort_sorted_reverse:after{
        content: "\25BE";  
    }
    .noSort:after{ 
        content: "\25B4\25BE";
    }
}
